*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: brown;
}
.main{
    outline: 1px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(8, 138, 252);
}


