body{
    background-color: mistyrose;
    width: 100vw;
}
.box{
    box-sizing: border-box;
    width: 40vw;
    background-color: rgb(67, 235, 16);
    background-position: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    padding: 50px;
}
.box>img{
  height: 200px;
}