*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 600px;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 100px 200px;
    gap: 5px;
 }
 .box{
    height: 500px;
    width: 600px;
     background-color: rgb(23, 11, 85);
     border: 1px solid black;
 }
 .box1{
     grid-row:1/2;
     grid-column: 1/4;
 }
 .box2{
     grid-column:2/6;
     grid-row: 1/2;
 }
 .box3{
     grid-column: 2/4;
     grid-row: 2/3;
 }
 .box4{
     grid-column: 4/6;
     grid-row: 2/3;
 }
 .box5{
     grid-column: 4/6;
     grid-row: 3/4;
 }
 .box6{
     grid-column: 6/7;
     grid-row: 1/4;
 }

